DS_r <- DS_1[calc Me_3 := cast(Me_1, string),
    Me_4 := length(cast(Me_1, string)),
    Me_5 := cast(Me_1 * 2, string),
    Me_6 := cast(Me_2, string),
    Me_7 := cast(-Me_1, string),
    Me_8 := cast(Me_2 / 2, string),
    Me_9 := cast(Me_2 + 1, string),
    Me_10 := cast((Me_1), string),
    Me_11 := cast(abs(Me_1), string),
    Me_12 := cast(abs(Me_2), string),
    Me_13 := cast(nvl(Me_1, 0.0), string),
    Me_14 := cast(mod(Me_1, 2), string),
    Me_15 := cast(if Me_2 > 5 then Me_1 else Me_1 * 2, string),
    Me_16 := cast(if Me_2 > 5 then Me_2 else Me_2 * 2, string),
    Me_17 := cast(case when Me_2 > 5 then Me_1 else 0.0, string)];
