DS_r <- DS_1[calc Me_3 := cast(Me_1, string),
    Me_4 := length(cast(Me_1, string)),
    Me_5 := cast(Me_1 * 2, string),
    Me_6 := cast(Me_2, string),
    Me_7 := cast(-Me_1, string),
    Me_8 := cast(Me_2 / 2, string),
    Me_9 := cast(Me_2 + 1, string),
    Me_10 := cast((Me_1), string)];
