DS_r := sum(DS_1 group all time_agg("D", first));
DS_r1 := sum(DS_1 group all time_agg("W", first));
DS_r2 := sum(DS_1 group all time_agg("M", first));
DS_r3 := sum(DS_1 group all time_agg("Q", first));
DS_r4 := sum(DS_1 group all time_agg("S", first));
DS_r5 := sum(DS_1 group all time_agg("A", first));
