[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
antlr4-python3-runtime = "==4.9.3"
pyspark = "==3.3.0"
pandas = "*"

[dev-packages]
pyspark-stubs = "*"

[requires]
python_version = "3.10"
