[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
antlr4-python3-runtime = "==4.9.3"
numpy = "==1.23.5"
pandas = "==1.5.1"
pandasql = "==0.7.3"
sqlalchemy = "==1.4.53"
duckdb = "==1.1.1"
sqlglot = "==25.23.2"
networkx = "==3.3"

[dev-packages]
pytest = "==7.0.1"
pytest-cov = "*"
coverage = "*"

[requires]
python_version = "3.10"
