[tool.poetry]
name = "vtlengine"
version = "1.0"
description = "Run and Validate VTL Scripts"
authors = ["MeaningfulData <info@meaningfuldata.eu>"]
license = "AGPL-3.0"
readme = "README.md"
classifiers = [
    "Development Status :: 4 - Beta",
    "Intended Audience :: Developers",
    "Intended Audience :: Information Technology",
    "Intended Audience :: Science/Research",
]

[tool.poetry.dependencies]
python = "^3.10"
# PyPi dependencies
duckdb="^1.1.1"
numba="^0.60.0"
s3fs="^2024.9.0"
pyarrow = "^17.0.0"

# APT dependencies
antlr4-python3-runtime="4.9.2"
networkx="^2.8.8"
numexpr="^2.9.0"
pandas="^2.1.4"
bottleneck="^1.3.4"
sqlglot="^22.2.0"

[tool.poetry.dev-dependencies]
pytest = "^7.3"
pytest-cov = "^5.0.0"
line-profiler-pycharm = "^1.2.0"
sphinx = "^7.4"
sphinx-rtd-theme = "^2.0.0"
mypy = "^1.11.2"
pandas-stubs = "^2.2.3.241009"
stubs = "^1.0.0"

[tool.mypy]
files = "src"
exclude = "src/vtlengine/AST/.*"
disallow_untyped_defs = true
disallow_untyped_calls = true
ignore_errors = false
no_implicit_optional = true
show_column_numbers = true
strict_equality = true
strict_optional = true
strict = true
enable_error_code = [
    "ignore-without-code",
    "redundant-expr",
    "truthy-bool",
]
warn_return_any = false

[build-system]
requires = ["poetry-core"]
build-backend = "poetry.core.masonry.api"