define hierarchical ruleset sectorsHierarchy (variable condition Id_1 rule Id_2) is
    when Id_1 > 0 then B = C - D errorcode "totalComparedToBanks" errorlevel 4;
    when Id_1 > 0 then N >  A + L errorcode "totalGeUnal" errorlevel 3
end hierarchical ruleset;

sectors_hier_val_unf := hierarchy(DS_1, sectorsHierarchy condition Id_3 rule Id_2 non_zero);