define hierarchical ruleset accountingEntry (variable condition INSTR_ASSET rule ACCOUNTING_ENTRY) is 
    when INSTR_ASSET = "F" then B = C - D errorcode "Balance(credit-debit)" errorlevel 4;
    when INSTR_ASSET = "F" then N >= A + L errorcode "Net(assets-liabilities)" errorlevel 4    
end hierarchical ruleset;

DS_r := hierarchy(BOP, accountingEntry condition INSTR_ASSET rule ACCOUNTING_ENTRY non_null);