
    define viral propagation CONF (variable VAt_1) is
        when "C" then "C";
        when "N" then "N";
        else "F"
    end viral propagation;
    DS_r <- inner_join(DS_1, DS_2 keep DS_2#At_1);
