define viral propagation VP1 (variable VAt_1) is
    when "A" then "A"; when "B" then "B"
end viral propagation;
define viral propagation VP2 (variable VAt_2) is
    when "X" then "X"; when "Y" then "Y"
end viral propagation;
define datapoint ruleset R (variable VAt_1) is
    r1: VAt_1 = "A" errorcode "e1" errorlevel 1
end datapoint ruleset;
DS_r <- check_datapoint(DS_1, R all);
