
    define viral propagation r1 (variable VAt_1) is
        when "C" then "C"
    end viral propagation;
    define viral propagation r2 (variable VAt_1) is
        when "N" then "N"
    end viral propagation;
    DS_r <- DS_1;
