define viral propagation vd1 (valuedomain CL_X) is
    when "C" then "C"
end viral propagation;
define viral propagation vd2 (valuedomain CL_X) is
    when "N" then "N"
end viral propagation;
DS_r <- DS_1;
