define viral propagation VP1 (variable VAt_1) is when "A" then "A"; when "B" then "B" end viral propagation;
define viral propagation VP2 (variable VAt_2) is when "X" then "X"; when "Y" then "Y" end viral propagation;
DS_r <- round(DS_1, 2);