define viral propagation VP1 (variable VAt_1) is aggregate max end viral propagation;
define viral propagation VP2 (variable VAt_2) is aggregate max end viral propagation;
DS_r <- intersect(DS_1, DS_2);
