DS_r := inner_join (DS_1 as d1, DS_2 as d2 rename d1#Me_1 to Me11, 
        d1#Me_2 to Me12, d2#Me_1 to Me21, d2#Me_2 to Me22, 
        d1#At_1 to At11, d1#At_2 to At12,d2#At_1 to At_21, d2#At_2 to At_22);