define hierarchical ruleset accountingEntry (variable rule ACCOUNTING_ENTRY) is
                        B = C - D errorcode "Balance (credit-debit)" errorlevel 4;
                        N = A - L errorcode "Net (assets-liabilities)" errorlevel 4
                    end hierarchical ruleset;

                    DS_r := check_hierarchy(BOP, accountingEntry rule ACCOUNTING_ENTRY non_zero dataset all_measures)
                            [aggr OBS_VALUE_N := sum (OBS_VALUE) group by ACCOUNTING_ENTRY][calc OBS_VALUE_N2 := OBS_VALUE_N + sc_1*sc_2];