DS_r := cross_join (DS_1, DS_2 calc Me_3 := if Id_2 = "A" then Me_1 else Me_2 rename DS_1#Id_1 to Id_11,
DS_2#Id_1A to Id_1A1, DS_1#Id_2 to Id_21, DS_2#Id_2A to Id_2A1, DS_1#Me_1 to Me_11, DS_1#Me_2 to Me_21,
DS_2#Me_2A to Me_2A1, DS_2#Me_1A to Me_1A1);