define operator dqi_vl (a dataset, b dataset, c component)
  returns dataset is
    inner_join (
        a,
        b as B,
        c 
        calc dqi_vl := 
            a#Me_1a / Me_1b
        keep dqi_vl, a#Me_1c, a#Me_1a, Me_1b
    )
end operator;
DQI_IG0010:=
    dqi_vl(DS_1, DS_1, DS_2);
