define operator add_general_features(ds dataset)
	returns dataset is
		ds
		[calc transaction_price_d := transaction_price * coefficient_inv]
		[calc announced_price_d := announced_price * coefficient_inv]
		[drop coefficient,
			coefficient_inv
		]
		[calc tapr := transaction_price / announced_price]
		[calc dsr := units_sold / units_available]
		[calc dsr_new := units_sold / units_available_new]
		[calc tpir := transaction_price / income]
		[calc gap := announced_price - transaction_price]
		[calc gap_rel := (
		announced_price - transaction_price
		) / announced_price]
		[calc gap_d := announced_price_d - transaction_price_d]
end operator;

define operator add_lagged_features(ds dataset)
	returns dataset is
		ds
		[calc gap_lag1 := lag(

			gap, 1 over(
		partition by did order by period_label
		)

		)]
		[calc delta_gap := (
		gap - gap_lag1
		) / gap_lag1]
		[calc tpd1 := lag(

			transaction_price_d, 1 over(
		partition by did order by period_label
		)

		)]
		[calc delta_transaction_price_d := (
		transaction_price_d - tpd1
		) / tpd1]
		[calc delta_abs_transaction_price_d := (
		transaction_price_d - tpd1
		)]
		[calc tpd1_ma := lag(

			transaction_price_d_ma, 1 over(
		partition by did order by period_label
		)

		)]
		[calc delta_transaction_price_d_ma := (
		transaction_price_d_ma - tpd1_ma
		) / tpd1_ma]
		[calc delta_abs_transaction_price_d_ma := (
		transaction_price_d_ma - tpd1_ma
		)]
		[drop gap_lag1,
			tpd1,
			tpd1_ma
		]
		[calc lagp4 := lag(

			transaction_price_d, 4 over(
		partition by did order by period_label
		)

		)]
		[calc lagp8 := lag(

			transaction_price_d, 8 over(
		partition by did order by period_label
		)

		)]
		[calc delta_transaction_price_d_4 := (
		transaction_price_d - lagp4
		) / lagp4]
		[calc delta_transaction_price_d_8 := (
		transaction_price_d - lagp8
		) / lagp8]
		[drop lagp4,
			lagp8
		]
		[calc units_sold_1 := lag(

			units_sold, 1 over(
		partition by did order by period_label
		)

		)]
		[calc units_sold_2 := lag(

			units_sold, 2 over(
		partition by did order by period_label
		)

		)]
		[calc units_sold_3 := lag(

			units_sold, 3 over(
		partition by did order by period_label
		)

		)]
		[calc units_sold_4 := lag(

			units_sold, 4 over(
		partition by did order by period_label
		)

		)]
		[calc units_available_1 := lag(

			units_available, 1 over(
		partition by did order by period_label
		)

		)]
		[calc units_available_2 := lag(

			units_available, 2 over(
		partition by did order by period_label
		)

		)]
		[calc units_available_3 := lag(

			units_available, 3 over(
		partition by did order by period_label
		)

		)]
		[calc units_available_4 := lag(

			units_available, 4 over(
		partition by did order by period_label
		)

		)]
		[calc dsr_1 := lag(

			dsr, 1 over(
		partition by did order by period_label
		)

		)]
		[calc dsr_2 := lag(

			dsr, 2 over(
		partition by did order by period_label
		)

		)]
		[calc dsr_3 := lag(

			dsr, 3 over(
		partition by did order by period_label
		)

		)]
		[calc dsr_4 := lag(

			dsr, 4 over(
		partition by did order by period_label
		)

		)]
		[calc dsr_5 := lag(

			dsr, 5 over(
		partition by did order by period_label
		)

		)]
		[calc dsr_6 := lag(

			dsr, 6 over(
		partition by did order by period_label
		)

		)]
		[calc dsr_7 := lag(

			dsr, 7 over(
		partition by did order by period_label
		)

		)]
		[calc dsr_8 := lag(

			dsr, 8 over(
		partition by did order by period_label
		)

		)]
		[calc dsr_new_1 := lag(

			dsr_new, 1 over(
		partition by did order by period_label
		)

		)]
		[calc dsr_new_2 := lag(

			dsr_new, 2 over(
		partition by did order by period_label
		)

		)]
		[calc dsr_new_3 := lag(

			dsr_new, 3 over(
		partition by did order by period_label
		)

		)]
		[calc dsr_new_4 := lag(

			dsr_new, 4 over(
		partition by did order by period_label
		)

		)]
		[calc dsr_new_5 := lag(

			dsr_new, 5 over(
		partition by did order by period_label
		)

		)]
		[calc dsr_new_6 := lag(

			dsr_new, 6 over(
		partition by did order by period_label
		)

		)]
		[calc dsr_new_7 := lag(

			dsr_new, 7 over(
		partition by did order by period_label
		)

		)]
		[calc dsr_new_8 := lag(

			dsr_new, 8 over(
		partition by did order by period_label
		)

		)]
end operator;

define operator add_special_features(ds dataset)
	returns dataset is
		ds
		[calc period_label_aux := period_label]
		[calc transaction_price_d_ma := avg(

			transaction_price_d over(
		partition by did order by period_label  data points between 3 preceding and 4 following
		)

		)]
		[calc dsr_ma := avg(

			dsr over(
		partition by did order by period_label  data points between 3 preceding and 4 following
		)

		)]
		[calc dsr_new_ma := avg(

			dsr_new over(
		partition by did order by period_label  data points between 3 preceding and 4 following
		)

		)]
		[calc transaction_price_ma_comp := abs(
		(
		transaction_price_d_ma - transaction_price_d
		) / transaction_price_d
		)]
		[calc ln_dsr_ma := ln(
		dsr_ma
		)]
		[calc ln_dsr_new_ma := ln(
		dsr_new_ma
		)]
		[calc sdr_ma := 1 / dsr_ma]
		[calc sdr_new_ma := 1 / dsr_new_ma]
		[calc ln_sdr_ma := ln(
		sdr_ma
		)]
		[calc ln_sdr_new_ma := ln(
		sdr_new_ma
		)]
		[calc units_available_ma := avg(

			units_available over(
		partition by did order by period_label  data points between 3 preceding and 4 following
		)

		)]
		[calc units_available_new_ma := avg(

			units_available_new over(
		partition by did order by period_label  data points between 3 preceding and 4 following
		)

		)]
		[calc units_sold_ma := avg(

			units_sold over(
		partition by did order by period_label  data points between 3 preceding and 4 following
		)

		)]
end operator;

define operator clean_houses(ds dataset)
	returns dataset is
		ds
		[drop regiaoID,
			concelhoID,
			freguesia,
			freguesiaID,
			tipologia,
			agregacao,
			media
		]
		[filter
				concelho <> "Total"
		]
end operator;

define operator clean_summary(ds dataset)
	returns dataset is
		ds
		[rename concelho to county]
		[calc tmp_period := replace(
		'data', " Trimestre"
		)]
		[calc identifier period_label := tmp_period]
		[drop tmp_period
		]
end operator;

define operator smoothen_lagged_features(ds dataset)
	returns dataset is
		ds
		[calc dsr_1_ma := avg(

			dsr_1 over(
		partition by did order by period_label  data points between 3 preceding and 4 following
		)

		)]
		[calc dsr_2_ma := avg(

			dsr_2 over(
		partition by did order by period_label  data points between 3 preceding and 4 following
		)

		)]
		[calc dsr_3_ma := avg(

			dsr_3 over(
		partition by did order by period_label  data points between 3 preceding and 4 following
		)

		)]
		[calc dsr_4_ma := avg(

			dsr_4 over(
		partition by did order by period_label  data points between 3 preceding and 4 following
		)

		)]
		[calc dsr_5_ma := avg(

			dsr_5 over(
		partition by did order by period_label  data points between 3 preceding and 4 following
		)

		)]
		[calc dsr_6_ma := avg(

			dsr_6 over(
		partition by did order by period_label  data points between 3 preceding and 4 following
		)

		)]
		[calc dsr_7_ma := avg(

			dsr_7 over(
		partition by did order by period_label  data points between 3 preceding and 4 following
		)

		)]
		[calc dsr_8_ma := avg(

			dsr_8 over(
		partition by did order by period_label  data points between 3 preceding and 4 following
		)

		)]
		[calc dsr_new_1_ma := avg(

			dsr_new_1 over(
		partition by did order by period_label  data points between 3 preceding and 4 following
		)

		)]
		[calc dsr_new_2_ma := avg(

			dsr_new_2 over(
		partition by did order by period_label  data points between 3 preceding and 4 following
		)

		)]
		[calc dsr_new_3_ma := avg(

			dsr_new_3 over(
		partition by did order by period_label  data points between 3 preceding and 4 following
		)

		)]
		[calc dsr_new_4_ma := avg(

			dsr_new_4 over(
		partition by did order by period_label  data points between 3 preceding and 4 following
		)

		)]
		[calc dsr_new_5_ma := avg(

			dsr_new_5 over(
		partition by did order by period_label  data points between 3 preceding and 4 following
		)

		)]
		[calc dsr_new_6_ma := avg(

			dsr_new_6 over(
		partition by did order by period_label  data points between 3 preceding and 4 following
		)

		)]
		[calc dsr_new_7_ma := avg(

			dsr_new_7 over(
		partition by did order by period_label  data points between 3 preceding and 4 following
		)

		)]
		[calc dsr_new_8_ma := avg(

			dsr_new_8 over(
		partition by did order by period_label  data points between 3 preceding and 4 following
		)

		)]
		[sub did = 1]
end operator;

INCOME.income_01 :=
	Income_PT
		[rename value to income];
INFLATION.inflation_base_01 :=
	Inflation_PT
		[calc coefficient := 1 + value]
		[calc coefficient_l := ln(coefficient)];
SUPDEMM.sales_01 :=
	clean_houses(Vendas_PT_2025_Q1);
SUPDEMM.supply_01 :=
	clean_houses(Oferta_PT_2025_Q1);
INCOME.income_02 :=
	cross_join(
		INCOME.income_01,
		Inflation_divisors_Q
		 drop divisor

	);
INFLATION.inflation_base :=
	INFLATION.inflation_base_01
		[calc coefficient_lc := sum(
			coefficient_l over( order by 'year' )
		)]
		[calc coefficient_c := exp(coefficient_lc)]
		[drop coefficient_l,
			coefficient_lc,
			value
		];
SUPDEMM.sales_02_AM_Porto :=
	SUPDEMM.sales_01
		[sub regiao = "AM Porto"]
		[sub estado = "Total"];
SUPDEMM.sales_02_AM_Lisboa :=
	SUPDEMM.sales_01
		[sub regiao = "AM Lisboa"]
		[sub estado = "Total"];
SUPDEMM.supply_02_AM_Porto :=
	SUPDEMM.supply_01
		[sub regiao = "AM Porto"];
SUPDEMM.supply_02_AM_Lisboa :=
	SUPDEMM.supply_01
		[sub regiao = "AM Lisboa"];
INFLATION.inflation_q_01 :=
	cross_join(
		INFLATION.inflation_base,
		Inflation_divisors_Q
		);
SUPDEMM.sales_03 :=
	union(SUPDEMM.sales_02_AM_Porto, SUPDEMM.sales_02_AM_Lisboa);
SUPDEMM.supply_03 :=
	union(SUPDEMM.supply_02_AM_Porto, SUPDEMM.supply_02_AM_Lisboa);
INFLATION.inflation_q_02 :=
	INFLATION.inflation_q_01
		[calc coefficient_q := power(coefficient, 1 / divisor)]
		[calc coefficient_lq := ln(coefficient_q)];
SUPDEMM.sales_transactions :=
	SUPDEMM.sales_03
		[sub var = "Fogos Vendidos"]
		[rename n to units_sold];
SUPDEMM.sales_price :=
	SUPDEMM.sales_03
		[sub var = "Preço de Venda / m2"]
		[rename n to transaction_price];
SUPDEMM.supply_units_total :=
	SUPDEMM.supply_03
		[sub var = "Fogos em Oferta"]
		[sub estado = "Total"]
		[rename n to units_available];
SUPDEMM.supply_units_new :=
	SUPDEMM.supply_03
		[sub var = "Fogos em Oferta"]
		[sub estado = "Novo"]
		[rename n to units_available_new];
SUPDEMM.supply_price :=
	SUPDEMM.supply_03
		[sub var = "Valor de Oferta / m2"]
		[sub estado = "Total"]
		[rename n to announced_price];
INFLATION.inflation_q_03 :=
	INFLATION.inflation_q_02
		[calc coefficient_lcq := sum(
			coefficient_lq over( order by 'year', Q )
		)]
		[calc coefficient_cq := exp(coefficient_lcq)];
SUPDEMM.sales_summary_01 :=
	inner_join(
		SUPDEMM.sales_transactions,
		SUPDEMM.sales_price
		);
SUPDEMM.supply_units :=
	inner_join(
		SUPDEMM.supply_units_total,
		SUPDEMM.supply_units_new
		);
INFLATION.inflation :=
	INFLATION.inflation_q_03
		[calc coefficient_inv := 1 / coefficient_cq]
		[drop coefficient,
			coefficient_q,
			coefficient_c
		]
		[drop coefficient_lq,
			coefficient_lcq,
			divisor
		]
		[rename coefficient_cq to coefficient];
SUPDEMM.sales_summary :=
	clean_summary(SUPDEMM.sales_summary_01);
SUPDEMM.supply_summary_01 :=
	inner_join(
		SUPDEMM.supply_units,
		SUPDEMM.supply_price
		);
output_inflation <-
	INFLATION.inflation;
SUPDEMM.supply_summary :=
	clean_summary(SUPDEMM.supply_summary_01);
INCOME.income_03 :=
	inner_join(
		INCOME.income_02,
		output_inflation
		);
SUPDEMM.housing_dataset_01 :=
	inner_join(
		SUPDEMM.sales_summary,
		SUPDEMM.supply_summary
		);
INCOME.income_final :=
	INCOME.income_03
		[calc income_d := income * coefficient_inv]
		[drop coefficient,
			coefficient_inv
		];
SUPDEMM.housing_dataset_02 :=
	SUPDEMM.housing_dataset_01
		[calc year_str := substr(period_label, 1, 4)]
		[calc identifier 'year' := cast(year_str, number)]
		[calc identifier Q := substr(period_label, 6, 1)]
		[drop year_str
		];
SUPDEMM.housing_dataset_03 :=
	inner_join(
		SUPDEMM.housing_dataset_02,
		INFLATION.inflation
		);
SUPDEMM.housing_dataset_04 :=
	left_join(
		SUPDEMM.housing_dataset_03,
		INCOME.income_final
		);
SUPDEMM.housing_dataset_final :=
	add_general_features(SUPDEMM.housing_dataset_04);
OUTPUT.housing_output_generic_01 :=
	SUPDEMM.housing_dataset_final
		[sub county = sc_selected_county]
		[calc identifier did := 1];
OUTPUT.housing_output_generic_02 :=
	add_special_features(OUTPUT.housing_output_generic_01);
OUTPUT.housing_output_generic_03 :=
	add_lagged_features(OUTPUT.housing_output_generic_02);
output_generic <-
	smoothen_lagged_features(OUTPUT.housing_output_generic_03);
output_generic_eda <-
	output_generic
		[keep transaction_price_d_ma, delta_transaction_price_d_ma, dsr_ma, dsr_new_ma];
