B02.DBTRS_AGGR := B02.LST_DBTRS [ aggr  TTL_LBLTY_AMNT := sum ( JNT_LBLTY_AMNT ) , MX_LBLTY_AMNT := max ( JNT_LBLTY_AMNT ) , NMBR_DBTR := count ( )  group by OBSRVD_AGNT_CD , DT_RFRNC , CNTRCT_ID , INSTRMNT_ID ] ; 