/*FNL_STTNG2 := FNL_STTNG1 [keep ENTRPRS_SZ_CLCLTD_T][rename ENTRPRS_SZ_CLCLTD_T to ENTRPRS_SZ_CLCLTD][rename RLTD_ID to TYP_ENTRPRS_123];*/
FNL_STTNG2 := FNL_STTNG1 [keep ENTRPRS_SZ_CLCLTD_T][rename ENTRPRS_SZ_CLCLTD_T to ENTRPRS_SZ_CLCLTD,RLTD_ID to ENTRPRS_SZ_CLCLTD];