INSTRMTN_PRTCT_RCVD_AGG :=
  ANCRDT_INSTRMNT_PRTCTN_RCVD_C
    [aggr PRTCTN_ALLCTD_VL_PRTN := sum(nvl(PRTCTN_ALLCTD_VL,0)) group by PRTCTN_ID];
INSTRMTN_PRTCT_RCVD_AGG_2 :=
  ANCRDT_INSTRMNT_PRTCTN_RCVD_C
    [aggr PRTCTN_ALLCTD_VL_PRTN := sum(PRTCTN_ALLCTD_VL) group by PRTCTN_ID];
