DBTR_FCT_NN_PRFRMNG_SUM :=
    ANCRDT_INSTRMNT_FCT
        [filter PRFRMNG_STTS = "1"]
        [keep OTSTNDNG_NMNL_AMNT_DV, OTSTNDNG_NMNL_AMNT_CV]
        [rename DBTR_ID to ENTTY_RIAD_CD]
        [aggr 
            SUM_OTSTNDNG_NMNL_AMNT_DV_NN_PRFRMNG := sum(OTSTNDNG_NMNL_AMNT_DV),
            SUM_OTSTNDNG_NMNL_AMNT_CV_NN_PRFRMNG := sum(OTSTNDNG_NMNL_AMNT_CV)
            group by DT_RFRNC , ENTTY_RIAD_CD];