//APPRCH_JNT_CNTRPRTY.BIRD_INSTRMNTS_CSTMRS_EIL_TEMP := BIRD_TRNSCTNS_CNTRPRTS_IL [ sub TYP_TRNSCTN = "1" , CNTRPRTY_RL = "2" ] [ keep JNT_LBLTY , JNT_LBLTY_AMNT ] [ rename TRNSCTN_ID to INSTRMNT_UNQ_ID ] ; 
EXAMPLE := cross_join ( DS_1 [ drop JNT_LBLTY , JNT_LBLTY_AMNT ] as A , DS_2 as B rename A # CNTRPRTY_ID to INSTRMNTS_CNTRPRTY_ID , A # DT_RFRNC to INSTRMNTS_DT_RFRNC , B # CNTRPRTY_ID to JNT_CNTRPRTS_CNTRPRTY_ID) ; 
