//APPRCH_JNT_CNTRPRTY.BIRD_INSTRMNTS_CSTMRS_EIL_TEMP := BIRD_TRNSCTNS_CNTRPRTS_IL [ sub TYP_TRNSCTN = "1" , CNTRPRTY_RL = "2" ] [ keep JNT_LBLTY , JNT_LBLTY_AMNT ] [ rename TRNSCTN_ID to INSTRMNT_UNQ_ID ] ; 
APPRCH_JNT_CNTRPRTY.INSTRMNTS_JNT_CNTRPRTS := cross_join ( APPRCH_JNT_CNTRPRTY.BIRD_INSTRMNTS_CSTMRS_EIL_TEMP [ drop JNT_LBLTY , JNT_LBLTY_AMNT ] as A , BIRD_JNT_CNTRPRTS_IL as B rename A # CNTRPRTY_ID to INSTRMNTS_CNTRPRTY_ID , A # DT_RFRNC to INSTRMNTS_DT_RFRNC , A # INSTRMNT_UNQ_ID to INSTRMNTS_INSTRMNT_UNQ_ID , A # PRSPCTV_ID to INSTRMNTS_PRSPCTV_ID , B # CNTRPRTY_ID to JNT_CNTRPRTS_CNTRPRTY_ID , B # DT_RFRNC to JNT_CNTRPRTS_DT_RFRNC , B # JNT_CNTRPRTY_CMPNNT to JNT_CNTRPRTS_JNT_CNTRPRTY_CMPNNT , B # PRSPCTV_ID to JNT_CNTRPRTS_PRSPCTV_ID , B # JNT_CNTRPRTY_PRCNTG to JNT_CNTRPRTS_JNT_CNTRPRTY_PRCNTG ) ; 
