ANCRDT_ENTTY_RSK_IDS := ANCRDT_ENTTY_RSK_C[keep PD][drop PD];
DT_RFRNC_DS := max(ANCRDT_ENTTY_RSK_IDS group by DT_RFRNC);

INSTTTNL_SCTR_DS_MSR :=
    RIAD_INSTTTNL_SCTR_C
        [keep OBS_VALUE]
        [rename OBS_VALUE to INSTTTNL_SCTR];
/*
INSTTTNL_SCTR_DS_CJ :=
    cross_join(INSTTTNL_SCTR_DS_MSR as RIAD, DT_RFRNC_DS as DT filter DT#DT_RFRNC >= RIAD#VLD_FRM and DT#DT_RFRNC <= RIAD#VLD_T);
    */
