ANCRDT_ENTTY_RSK_IDS := ANCRDT_ENTTY_RSK_C[keep PD][drop PD]; 
DT_RFRNC_DS := max(ANCRDT_ENTTY_RSK_IDS group by DT_RFRNC);

INSTTTNL_SCTR_DS_MSR := 
    RIAD_INSTTTNL_SCTR_C
        [keep OBS_VALUE]
        [rename OBS_VALUE to INSTTTNL_SCTR];
        
INSTTTNL_SCTR_DS_CJ :=
    cross_join(INSTTTNL_SCTR_DS_MSR, DT_RFRNC_DS);

INSTTTNL_SCTR_DS := 
    max(INSTTTNL_SCTR_DS_CJ group by DT_RFRNC, ENTTY_RIAD_CD);

