PL_ITM_E := 
  PL_ITM
    [calc FNNCL_GRNT_CNSDRD_MX_AMNT := cast(null, number),
          ISSR_ID := cast(null, string),
          measure PRTCTN_VLTN_APPRCH_PRTCTN_VL := PRTCTN_VLTN_APPRCH_PRTCTN_VL];
