ANAMART_INSTRMNT_JN2 := inner_join(B01.ANAMART_INSTRMNT_JN,
                                   B02.ANAMART_INSTRMNT_SHR_ONA_DBTR,
                                   B03.ANAMART_INSTRMNT_SHR_ONA_CRDTR,
                                   B04.ANAMART_INSTRMNT_CV_DV,
                                   B05.ANAMART_INSTRMNT_3PPC,
                                   B06.ANAMART_INSTRMNT_NMBRS,
                                   B07.ANAMART_INSTRMNT_X_T_VL,
                                   B08.ANAMART_INSTRMNT_CRDT_QLTY,
                                   B09.ANAMART_INSTRMNT_DYS,
                                   B10.ANAMART_INSTRMNT_OTHR);