ANCRDT_INSTRMNT_FCT := inner_join(B11.ANAMART_INSTRMNT_JN2, B12.ANAMART_INSTRMNT_INTRVL, B13.ANAMART_INSTRMNT_SMPL_WGHT, B14.ANAMART_INSTRMNT_CMPLX_WGHT);
ANCRDT_INSTRMNT_FCT_D <- ANCRDT_INSTRMNT_FCT;