/*Working*/

INSTRMTN_PRTCT_RCVD_AGG := sum(INSTRMNT_PRTCTN_RCVD group except CNTRCT_ID, INSTRMNT_ID);

RTS_DNMNTR := INSTRMTN_PRTCT_RCVD_AGG[calc DNMNTR := THRD_PRTY_PRRTY_CLMS + PRTCTN_ALLCTD_VL][drop THRD_PRTY_PRRTY_CLMS, PRTCTN_ALLCTD_VL];

PRTCTN_RCVD_KP := PRTCTN_RCVD[keep  PRTCTN_VL_TTL_PRTCTN, ORGNL_PRTCTN_VL_PRTCTN];
PRTCTN_RCVD_AGG := sum(PRTCTN_RCVD_KP group except PRTCTN_PRVDR_ID);

INSTRMNT_PRTCTN_ALLCTN_DS:= inner_join(INSTRMNT_PRTCTN_RCVD, RTS_DNMNTR, PRTCTN_RCVD_AGG);

ANAMART_PRTCTN_PV_ALLCTN := 
    INSTRMNT_PRTCTN_ALLCTN_DS[calc ALLCTD_OPV_W_3PTPC := ORGNL_PRTCTN_VL_PRTCTN * THRD_PRTY_PRRTY_CLMS / DNMNTR,
                                   ALLCTD_PV_W_3PTPC := PRTCTN_VL_TTL_PRTCTN * THRD_PRTY_PRRTY_CLMS / DNMNTR,
                                   ALLCTD_OPV_W_PAV := ORGNL_PRTCTN_VL_PRTCTN * PRTCTN_ALLCTD_VL / DNMNTR,
                                   ALLCTD_PV_W_PAV:= PRTCTN_VL_TTL_PRTCTN * PRTCTN_ALLCTD_VL / DNMNTR
    ];
