/*Working*/

THRD_PRTY_TTL_CLM_DS :=sum(INSTRMNT_PRTCTN_RCVD group except CNTRCT_ID, INSTRMNT_ID);

ALLCTBL_PRTCN_VL_P:=inner_join(THRD_PRTY_TTL_CLM_DS, PRTCTN_RCVD keep PRTCTN_VL_TTL_PRTCTN, THRD_PRTY_PRRTY_CLMS, PRTCTN_ALLCTD_VL);

ALLCTBL_PRTCN_VL_DS := ALLCTBL_PRTCN_VL_P[calc ALLCTBL_PRTCTN_VL := PRTCTN_VL_TTL_PRTCTN - THRD_PRTY_PRRTY_CLMS];

ANAMART_PRTCTN_ALLCTBL := ALLCTBL_PRTCN_VL_DS[calc ALLCTBL_PRTCTN_VL_USD := if ALLCTBL_PRTCTN_VL = 0 then 0 else PRTCTN_ALLCTD_VL/ALLCTBL_PRTCTN_VL];