/*Cannot be completed because number of days cannot be calculated*/
PRTCTN_RCVD_S := min(PRTCTN_RCVD group except PRTCTN_PRVDR_ID);

MTRSTS_DS := inner_join(INSTRMNT[keep DT_LGL_FNL_MTRTY] as A, PRTCTN_RCVD_S[keep DT_MTRTY_PRTCTN] as B, INSTRMNT_PRTCTN_RCVD);

MSMTCH_BL_DS := MTRSTS_DS[calc IS_PRTCTN_MTRTY_MSMTCH := if DT_LGL_FNL_MTRTY > PRTCTN_RCVD_S then "T" else "F"];/*At the moment this cannot be done*/

ANAMART_PRTCTN_MSMTCH:=MSMTCH_BL_DS[calc MTRTY_MSMTCH := if IS_PRTCTN_MTRTY_MSMTCH ="T" then DT_LGL_FNL_MTRTY - PRTCTN_RCVD_S else null];/*Substract for dates outside VTL*/