define viral propagation At_1(variable At_1) is
	when null then null;
	when "Ay" then null;
	when "Bq" then "Bq";
	else null
end viral propagation;

define viral propagation At_2(variable At_2) is
	when "Ay" then "Ay"
end viral propagation;

DS_r <-
	DS_1;
