define hierarchical ruleset sectorsHierarchy (variable rule Id_1) is 
    B = C - D errorcode "totalComparedToBanks" errorlevel 4;
    N >  A + L errorcode "totalGeUnal" errorlevel 3
end hierarchical ruleset;

sectors_hier_val_unf := hierarchy(DS_1, sectorsHierarchy rule Id_2 non_zero);