/*Working*/

/* 1. Dataset with the total protection by instrument*/
INSTRMNT_PRTCTN_TTL_INSTRMNT:= sum(INSTRMNT_PRTCTN_RCVD group by OBSRVD_AGNT_ID, DT_RFRNC, CNTRCT_ID, INSTRMNT_ID);
 
/* 2. Join of all the relevant datasets, except for protection*/
INSTRMNT_FCT_CV_1 := inner_join(B02.ANAMART_INSTRMNT_SHR_ONA_DBTR,
                                B03.ANAMART_INSTRMNT_SHR_ONA_CRDTR[keep NMBR_CRDTRS, SHR_ONA_CRDTR] as ANAMART_INSTRMNT_SHR_ONA_CRDTR_AS,
                                FNNCL[keep ARRRS, ACCRD_INTRST, OFF_BLNC_SHT_AMNT] as FNNCL_AS,
                                ACCNTNG[keep PRFRMNG_STTS, ACCMLTD_WRTFFS, ACCMLTD_IMPRMNT, ACCMLTD_CHNGS_FV_CR, CMLTV_RCVRS_SNC_DFLT, CRRYNG_AMNT, PRVSNS_OFF_BLNC_SHT] as ACCNTNG_AS,
                                INSTRMNT[keep CMMTMNT_INCPTN, FV_CHNG_CR_BFR_PRCHS] as INSTRMNT);
                                
/* 3. The protection dataset is joined with a left join, in case some instruments do not have protection*/
INSTRMNT_FCT_CV_2 := left_join(INSTRMNT_FCT_CV_1, INSTRMNT_PRTCTN_TTL_INSTRMNT using OBSRVD_AGNT_ID, DT_RFRNC, CNTRCT_ID, INSTRMNT_ID);

/* 4. The values of the CV variables are calculated*/
ANAMART_CV:= INSTRMNT_FCT_CV_2[calc CV_OTSTNDNG_NMNL_AMNT := OTSTNDNG_NMNL_AMNT_INSTRMNT * CV_SHR_ONA_DBTR*SHR_ONA_CRDTR,
                                    CV_OFF_BLNC_SHT_AMNT := OFF_BLNC_SHT_AMNT * CV_SHR_ONA_DBTR*SHR_ONA_CRDTR,
                                    CV_CMMTMNT_INCPTN := CMMTMNT_INCPTN * CV_SHR_ONA_DBTR*SHR_ONA_CRDTR,
                                    CV_ARRRS := ARRRS * CV_SHR_ONA_DBTR*SHR_ONA_CRDTR,
                                    CV_ACCRD_INTRST := ACCRD_INTRST * CV_SHR_ONA_DBTR*SHR_ONA_CRDTR,
                                    CV_ACCMLTD_WRTFFS := if OBSRVD_AGNT_ID=CRDTR_ID then ACCMLTD_WRTFFS * CV_SHR_ONA_DBTR else null,
                                    CV_ACCMLTD_IMPRMNT := if OBSRVD_AGNT_ID=CRDTR_ID then ACCMLTD_IMPRMNT * CV_SHR_ONA_DBTR else null,
                                    CV_CHNGS_FV_CR_BFR_PRCHS :=FV_CHNG_CR_BFR_PRCHS * CV_SHR_ONA_DBTR*SHR_ONA_CRDTR,
                                    CV_ACCMLTD_CHNGS_FV_CR :=  if OBSRVD_AGNT_ID=CRDTR_ID then ACCMLTD_CHNGS_FV_CR  * CV_SHR_ONA_DBTR else null,
                                    CV_CMLTV_RCVRS_SNC_DFLT  :=  if OBSRVD_AGNT_ID=CRDTR_ID then CMLTV_RCVRS_SNC_DFLT  * CV_SHR_ONA_DBTR else null,
                                    CV_CRRYNG_AMNT := if OBSRVD_AGNT_ID=CRDTR_ID then CRRYNG_AMNT * CV_SHR_ONA_DBTR else null,
                                    CV_PRTCTN_ALLCTD_VL := PRTCTN_ALLCTD_VL * CV_SHR_ONA_DBTR*SHR_ONA_CRDTR,
                                    CV_PRVSNS_OFF_BLNC_SHT :=  if OBSRVD_AGNT_ID=CRDTR_ID then PRVSNS_OFF_BLNC_SHT * CV_SHR_ONA_DBTR else null,
                                    CV_3PPC := THRD_PRTY_PRRTY_CLMS *  CV_SHR_ONA_DBTR*SHR_ONA_CRDTR];
 
/*5. The values of the DV variables are calculated*/
ANAMART_DV := ANAMART_CV[calc DV_OTSTNDNG_NMNL_AMNT := OTSTNDNG_NMNL_AMNT_INSTRMNT * DV_SHR_ONA_DBTR*SHR_ONA_CRDTR,
                                  DV_OFF_BLNC_SHT_AMNT :=  OFF_BLNC_SHT_AMNT * DV_SHR_ONA_DBTR*SHR_ONA_CRDTR,
                                  DV_CMMTMNT_INCPTN :=CMMTMNT_INCPTN * DV_SHR_ONA_DBTR*SHR_ONA_CRDTR,
                                  DV_ARRRS := ARRRS * DV_SHR_ONA_DBTR*SHR_ONA_CRDTR,
                                  DV_ACCRD_INTRST := ACCRD_INTRST * DV_SHR_ONA_DBTR*SHR_ONA_CRDTR,
                                  DV_ACCMLTD_WRTFFS := if OBSRVD_AGNT_ID=CRDTR_ID then ACCMLTD_WRTFFS * DV_SHR_ONA_DBTR else null,
                                  DV_ACCMLTD_IMPRMNT := if OBSRVD_AGNT_ID=CRDTR_ID then ACCMLTD_IMPRMNT * DV_SHR_ONA_DBTR else null,
                                  DV_CHNGS_FV_CR_BFR_PRCHS :=FV_CHNG_CR_BFR_PRCHS * DV_SHR_ONA_DBTR*SHR_ONA_CRDTR,
                                  DV_ACCMLTD_CHNGS_FV_CR :=  if OBSRVD_AGNT_ID=CRDTR_ID then ACCMLTD_CHNGS_FV_CR  * DV_SHR_ONA_DBTR else null,
                                  DV_CMLTV_RCVRS_SNC_DFLT  :=  if OBSRVD_AGNT_ID=CRDTR_ID then CMLTV_RCVRS_SNC_DFLT  * DV_SHR_ONA_DBTR else null,
                                  DV_CRRYNG_AMNT := if OBSRVD_AGNT_ID=CRDTR_ID then CRRYNG_AMNT * DV_SHR_ONA_DBTR else null,
                                  DV_PRTCTN_ALLCTD_VL := PRTCTN_ALLCTD_VL * DV_SHR_ONA_DBTR*SHR_ONA_CRDTR,
                                  DV_PRVSNS_OFF_BLNC_SHT :=  if OBSRVD_AGNT_ID=CRDTR_ID then PRVSNS_OFF_BLNC_SHT * DV_SHR_ONA_DBTR else null,
                                  DV_3PPC := THRD_PRTY_PRRTY_CLMS * DV_SHR_ONA_DBTR*SHR_ONA_CRDTR];
                                  
/*6. Keep the right values*/
ANAMART_CV_DV := ANAMART_DV[keep CV_3PPC, 
                                 CV_ACCMLTD_CHNGS_FV_CR,
                                 CV_ACCMLTD_IMPRMNT,
                                 CV_ACCMLTD_WRTFFS,
                                 CV_ACCRD_INTRST,
                                 CV_ARRRS,
                                 CV_CHNGS_FV_CR_BFR_PRCHS,
                                 CV_CMLTV_RCVRS_SNC_DFLT,
                                 CV_CMMTMNT_INCPTN,
                                 CV_CRRYNG_AMNT,
                                 CV_OFF_BLNC_SHT_AMNT,
                                 CV_OTSTNDNG_NMNL_AMNT,
                                 CV_PRTCTN_ALLCTD_VL,
                                 CV_PRVSNS_OFF_BLNC_SHT,
                                 DV_3PPC,
                                 DV_ACCMLTD_CHNGS_FV_CR,
                                 DV_ACCMLTD_IMPRMNT,
                                 DV_ACCMLTD_WRTFFS,
                                 DV_ACCRD_INTRST,
                                 DV_ARRRS,
                                 DV_CHNGS_FV_CR_BFR_PRCHS,
                                 DV_CMLTV_RCVRS_SNC_DFLT,
                                 DV_CMMTMNT_INCPTN,
                                 DV_CRRYNG_AMNT,
                                 DV_OFF_BLNC_SHT_AMNT,
                                 DV_OTSTNDNG_NMNL_AMNT,
                                 DV_PRTCTN_ALLCTD_VL,
                                 DV_PRVSNS_OFF_BLNC_SHT];