/*Working*/

/*NMBR_INSTRMNT_SCRD*/
NMBR_INSTRMNT_SCRD_DS_P := count(INSTRMNT_PRTCTN_RCVD group except CNTRCT_ID, INSTRMNT_ID);
NMBR_INSTRMNT_SCRD_DS := NMBR_INSTRMNT_SCRD_DS_P[rename int_var to NMBR_INSTRMNT_SCRD];

/*INCRMNTL_3PPC*/
MX_3PPC_DS:= max(INSTRMNT_PRTCTN_RCVD group except CNTRCT_ID, INSTRMNT_ID);

INCRMNTL_3PPC_JN := inner_join(MX_3PPC_DS[keep THRD_PRTY_PRRTY_CLMS][rename THRD_PRTY_PRRTY_CLMS to THRD_PRTY_PRRTY_CLMS_MX] as A, INSTRMNT_PRTCTN_RCVD, NMBR_INSTRMNT_SCRD_DS);
INCRMNTL_3PPC_DS := INCRMNTL_3PPC_JN[calc INCRMNTL_3PPC := THRD_PRTY_PRRTY_CLMS - THRD_PRTY_PRRTY_CLMS_MX/NMBR_INSTRMNT_SCRD];


ANAMART_PRTCTN_OTHER := INCRMNTL_3PPC_DS[keep NMBR_INSTRMNT_SCRD, INCRMNTL_3PPC];