DS_r1 := lag ( ds_1 , sc1 over ( partition by Id_1 , Id_2 order by Id_3 ) );
DS_r2 := lead ( ds_1 , sc1 over ( partition by Id_1 , Id_2 order by Id_3 ) );
DS_r3 := lag ( ds_1 , 2 over ( partition by Id_1 order by Id_3 ) );
DS_r4 := lag ( ds_1 , 2, 0 over ( partition by Id_1 order by Id_3 ) );
DS_r5 := lead ( ds_1 , 1, "x" over ( partition by Id_1 order by Id_3 ) );
