integer_ds1 := DS_1#Me_int;
integer_ds2 := DS_2#Me_int;
numeric_ds1 := DS_1#Me_num;
numeric_ds2 := DS_2#Me_num;
unplus_sc := +1;
unminus_sc := -2;
abs_sc := abs(-3);
exp_sc := exp(4);
ln_sc := ln(5);
sqrt_sc := sqrt(6);
ceil_sc := ceil(7.5);
floor_sc := floor(8.5);
binplus_sc := 1 + 2;
binminus_sc := 3 - 4;
mult_sc := 5 * 6;
div_sc := 7 / 8;
log_sc := log(9, 10);
mod_sc := mod(11, 12);
power_sc := power(13, 14);
round_sc := round(15.56789, 1);
trunc_sc := trunc(16.56789, 3);
random_sc := random(17, 18);
unplus_ds := +integer_ds1;
unminus_ds := -integer_ds2;
abs_ds := abs(integer_ds1);
exp_ds := exp(integer_ds2);
ln_ds := ln(integer_ds1);
sqrt_ds := sqrt(integer_ds2);
ceil_ds := ceil(numeric_ds1);
floor_ds := floor(numeric_ds2);
binplus_ds := integer_ds1 + integer_ds2;
binminus_ds := integer_ds1 - integer_ds2;
mult_ds := integer_ds1 * integer_ds2;
div_ds := integer_ds1 / integer_ds2;
log_ds := log(integer_ds1, integer_ds2);
mod_ds := mod(integer_ds1, integer_ds2);
power_ds := power(integer_ds1, integer_ds2);
round_ds := round(numeric_ds1, 1);
trunc_ds := trunc(numeric_ds2, 1);
random_ds := random(integer_ds1, 1);
sc_r := (1 + 2) / 3;