concat_ds := string_ds1 || string_ds2;
length_ds := length(string_ds1);
substring_ds := substr(string_ds1, 1, 2);
instr_ds := instr(string_ds1, "b");
replace_ds := replace(string_ds1, "b", "d");
lower_ds := lower(string_ds1);
upper_ds := upper(string_ds1);
trim_ds := trim(string_ds1);
ltrim_ds := ltrim(string_ds1);
rtrim_ds := rtrim(string_ds1);