define hierarchical ruleset accountingEntry (variable rule ACCOUNTING_ENTRY) is
    B = C - D errorcode "Balance (credit-debet)" errorlevel 4;
    N = A - L errorcode "Net (assets-liabilities)" errorlevel 4
end hierarchical ruleset;