DS_r := DS_1 [ calc Me_11 := stddev_pop ( Me_1 over ( partition by Id_1, Id_2
              order by Id_3 data points between current data point and 3 following) )]
             [ calc Me_22 := stddev_pop ( Me_2 over ( partition by Id_1, Id_2
              order by Id_3 data points between current data point and 3 following) )];