DS_r := DS_1 [ calc Me_11 := lag ( Me_1, 1 over (partition by Id_1, Id_2 order
              by Id_3 ) ) ] [ calc Me_22 := lag ( Me_2, 2 over (partition by
              Id_1, Id_2 order by Id_3 ) ) ];