BNFCRS_TRNSFRS_CMMN_INSTRMNTS_3 :=
    max(BNFCRS_TRNSFRS_CMMN_INSTRMNTS_2 
    group by BNFCRS_CNTRPRTY_ID,
             TRNSFR_CNTRPRTY_ID,
             BNFCRS_DT_RFRNC,
             BNFCRS_INSTRMNT_UNQ_ID,
             BNFCRS_PRSPCTV_ID);

BNFCRS_TRNSFRS_CMMN_INSTRMNTS_4 :=
    BNFCRS_TRNSFRS_CMMN_INSTRMNTS_3
        [rename BNFCRS_DT_RFRNC to DT_RFRNC,
                BNFCRS_INSTRMNT_UNQ_ID to INSTRMNT_UNQ_ID,
                BNFCRS_PRSPCTV_ID to PRSPCTV_ID]
        [calc BNFCR_ID := BNFCRS_CNTRPRTY_ID,
              TRNSFR_ID := TRNSFR_CNTRPRTY_ID];