LNS_ADVNCS_DBTRS_FINREP_3 := LNS_ADVNCS_DBTRS_FINREP_2[calc 
                                identifier IMPRMNT_STTS := nvl(IMPRMNT_STTS, ""),
                                identifier INSTTTNL_SCTR := nvl(INSTTTNL_SCTR, ""),
                                identifier IS_HFS := nvl(IS_HFS, ""), 
                                identifier IS_LW_CRDT_RSK := IS_LW_CRDT_RSK,
                                identifier OBSRVD_AGNT_INTRNL_ID := OBSRVD_AGNT_INTRNL_ID,
                                identifier PRCHSD_ORGNTD := nvl(PRCHSD_ORGNTD, ""),
                                identifier TYP_ACCNTNG_ITM := nvl(TYP_ACCNTNG_ITM, ""),
                                identifier TYP_INSTRMNT := nvl(TYP_INSTRMNT, "")
                                ];