define operator Test008 (x dataset, y dataset, c component, d component, e component)
    returns dataset is
        full_join ( x as d1, y as d2 keep c, d2#d, e)
end operator;

DS_r := Test008( DS_1, DS_2, Me_1, Me_2, Me_1A);