define operator Test151 (x dataset, c component, d component, e component)
    returns dataset is
    first_value ( x over ( partition by c, d order by e data points between 1 preceding and 1 following))
end operator;
DS_r := Test151(DS_1, Id_1, Id_2, Id_3);