DS_r:= inner_join (DS_1 [aggr Me_3:= sum (Me_1) group by Id_2] as d1,
                   DS_1 [aggr Me_4:= sum (Me_2) group by Id_2] as d2,
                   DS_2 [aggr Me_5:= sum (Me_11) group by Id_2] as d3,
                   DS_2 [aggr Me_6:= sum (Me_22) group by Id_2] as d4);