/* aggr RSDL_MTRTY_DYS_WGHTD_AVRG := sum (RSDL_MTRTY*PST_D_DYS/MAX_RSDL_MTRTY_DYS) */
RSDL_MRTY_WA := 
    inner_join(
        DBTR_FCT_DYS,
        VRBLS_AGGR
        aggr RSDL_MTRTY_DYS_WGHTD_AVRG := max (RSDL_MTRTY),
        Me_2 := sum(RSDL_MTRTY),
        Me_3 := min(OTSTNDNG_NMNL_AMNT_CV) group by DT_RFRNC, ENTTY_RIAD_CD
        );


