define operator drop_identifier (ds dataset, comp component)
  returns dataset is
    max(ds group except comp)
end operator;

define operator membership (x dataset, c component)
  returns dataset is
    x#c
end operator;

DS_r := drop_identifier (membership (DS,At_1), Id_3);