define hierarchical ruleset sectorsHierarchy (variable rule COUNT_SECTOR) is 
    A = B + N + U errorcode "totalComparedToBanks" errorlevel 4;
    A >= U errorcode "totalGeUnal" errorlevel 3
end hierarchical ruleset;
