define hierarchical ruleset sectors (valuedomain rule sectors) is
    r1: S1 = S11 + S12P + S12Q + S12K + S13 + S1M + S1N errorcode "Total should be equal to sum"
end hierarchical ruleset;
/*******************************************************************************
*       Module shs_val
*******************************************************************************/
issuer_results <-
	 check_hierarchy(
		ECB_SHS6,
		sectors
		rule ISSUER_SECTOR);
holder_results <-
	 check_hierarchy(
		ECB_SHS6,
		sectors
		rule HOLDER_SECTOR);
