DS_r <- DS_1 [ calc m1 := sum(Me_1 over (partition by Id_1 order by Id_2)),
                    m2 := count(Me_1 over (partition by Id_1 order by Id_2)),
                    m3 := last_value(Me_1 over (partition by Id_1 order by Id_2)),
                    m4 := sum(Me_1 over (partition by Id_1 order by Id_2
                                         data points between unbounded preceding
                                         and current data point)) ];
