DS_r <- DS_1 [ calc m1 := if Me_bool then 1 else 2.5,
                    m2 := case when Me_bool then 1 else 2.5,
                    m3 := if Me_bool then Me_int else Me_num,
                    m4 := nvl(Me_int, 2.5),
                    m5 := nvl(Me_int, 7) ];
