B03.ANAMART_INSTRMNT_SHR_ONA_CRDTR := B03.INSTRMNT_FCT_TRNSFRRD_AMNT
    [ calc SHR_ONA_CRDTR := if OTSTNDNG_NMNL_AMNT = 0
            then 1 / NMBR_CRDTR
            else (
                if OBSRVD_AGNT_CD = CRDTR_ID
                then ( OTSTNDNG_NMNL_AMNT - TRNSFRRD_AMNT ) / OTSTNDNG_NMNL_AMNT
                else (
                    if OTSTNDNG_NMNL_AMNT * NMBR_CRDTRS_NT_OA = 0.0 then 1
                    else TRNSFRRD_AMNT / ( OTSTNDNG_NMNL_AMNT * NMBR_CRDTRS_NT_OA )
                )
            )
        ]
    [ keep SHR_ONA_CRDTR ] ;