ENTTY_INSTRMNT_JN_LBLTS_AGG :=
    ENTTY_INSTRMNT_JN_LBLTS
        [aggr 
            JNT_LBLTY_AMNT_SUM := sum(JNT_LBLTY_AMNT),
            NMBR_DBTR := count(),
            IS_JNT_LBLTY_RPRTD_ALL := min(if isnull(JNT_LBLTY_AMNT) then false else true),//If there is a false, we will get the false, else it is a true
            JNT_LBLTY_AMNT_MAX := max(JNT_LBLTY_AMNT)
        group by OBSRVD_AGNT_CD, DT_RFRNC, CNTRCT_ID, INSTRMNT_ID];
