CN0330 <- check ( ANCRDT_FNNCL_C [ keep OTSTNDNG_NMNL_AMNT ] [ rename OTSTNDNG_NMNL_AMNT to obs ] >= ANCRDT_JNT_LBLTS_C [ keep JNT_LBLTY_AMNT ] [ rename JNT_LBLTY_AMNT to obs ] errorcode "CN0330" errorlevel 3 invalid ) ;
