/*OBSRVD_AGNT_LE := inner_join(CNTRPRTY_LE, ENTTY_LE[rename ENTTY_RIAD_ID to OBSRVD_AGNT_ID, ENTTY_RIAD_CD_LE to LE_OBSRVD_AGNT] as B);*/
/*OBSRVD_AGNT_LE := inner_join(CNTRPRTY_LE, ENTTY_LE[rename ENTTY_RIAD_ID to OBSRVD_AGNT_ID][rename ENTTY_RIAD_CD_LE to LE_OBSRVD_AGNT] as B);*/
OBSRVD_AGNT_LE := ENTTY_LE[rename ENTTY_RIAD_ID to OBSRVD_AGNT_ID][rename ENTTY_RIAD_CD_LE to LE_OBSRVD_AGNT] ;