cross_product_of_loans_and_advances_by_debtor_and_associated_protections :=

    cross_join(loans_and_advances_by_debtor.loans_and_advances_by_debtor as L,

               instrument_protection_item_assignments.instrument_protection_item_assignments as I

               rename I#instrument_identifier to instrument_identifier2,
                    
                      L#instrument_identifier to instrument_identifier2,
                      L#street to street_street

                      );
