 added := 
    demo_data_structure
        [calc identifier quarter := time_agg("Q", "M", Id2)];

result <-
    last_value(
        added
        over(
            partition by Id1, quarter
            order by Id2 desc)
    );