ENTTY_RSK_R := ENTTY_RSK[keep DFLT_STTS, DT_DFLT_STTS, PD]
                  [rename ENTTY_RIAD_ID to PRTCN_PRVDR_ID, DFLT_STTS to DFLT_STTS_PRTCTN_PRVDR, DT_DFLT_STTS to DT_DFLT_STTS_PRTCTN_PRVDR, PD to PD_PRTCTN_PRVDR];
ANAMART_PRTCTN_CRDT_QLTY := left_join (C05.ANAMART_PRTCTN_ALLCTBL, ENTTY_RSK_R using DT_RFRNC, OBSRVD_AGNT_ID, PRTCN_PRVDR_ID);