define datapoint ruleset financialLastMonth (variable DFLT_STTS, DFLT_STTS_T1, DT_DFLT_STTS, DT_DFLT_STTS_T1) is

    CN0290: 
        when 
            if isnull(DT_DFLT_STTS) or isnull(DT_DFLT_STTS_T1) then false else
            DFLT_STTS <> DFLT_STTS_T1 
        then 
            DT_DFLT_STTS > DT_DFLT_STTS_T1 
        errorcode "CN0290" errorlevel 2

end datapoint ruleset;