define operator Test183 (y component)
    returns component is
    case when y <= 1 then 0
         when y > 1 and y <= 10 then 1
         when y > 10 then 10
         else 100
end operator;
DS_r := DS_1 [calc Me_2 := Test183(Me_1)];