/*Cannot be run because dates casting is not clear and dates not yet implemented*/

/*DT_RFRNC := cast("31/12/2018", date, "DD-MM-YYYY");*//*Suposing that the reference date is 31/12/2018*/

ENTTY2 := ENTTY[calc identifier DT_RFRNC := DT_RFRNC]; /*First the reference date is added (as identifier)*/
ENTTY3 := ENTTY2[filter VLD_FRM <= RFRNC_DT and VLD_T >= RFRC_DT]; /*Filter out all the records not valid at the reference date. As an alternative, it could be filtered out with the get*/
 
ENTTY4 := ENTTY3[calc identifier ENTTY_RIAD_ID := ENTTY_RIAD_ID]; /*The role of the entity ID is changed*/
ENTTY5 := ENTTY4[calc measure ENTTY_SK := ENTTY_SK]; /*Before dropping the ENTTY_SK, the role has to be changed to measure*/

ANAMART_ENTTY_TM_P := min(ENTTY5 group except ENTTY_SK, VLD_FRM);
ANAMART_ENTTY_TM := ANAMART_ENTTY_TM_P[drop VLD_T]; /*The components that are not needed any more are eliminated*/
