DS_r := DS_1 [calc Me_3 := case when Id_1 = 1 then case when Id_2 = "A" then Id_2 when Id_2 = "B" then case when Me_2 = "B" then "X" else Me_1 else case when Id_1 = 3 then "U" when Id_1 = 2 then Id_1 else "Y" else case when Me_2 = "J" then Me_2 when Me_1 = 10 then "Z" when Me_1 = 9 then "I" when Id_1 = 5 then "W" else null];