DS_r := DS_1 [calc Me_3 := case when Id_2 = "A" then case when Id_1 = 1 then if Me_1 = 1 then case when Me_2 = "A" then "Y" else Me_2 else Id_1 else Id_2 when Id_2 = "B" then Id_2 else case when Id_1 = 1 then Id_1 when Me_2 = Id_2 then Me_2 when Me_2 = "J" then "J" else if Me_1 = 4 then Id_2 else "X"];
