define operator filter_udo (ds dataset,comp component, value number)
  returns dataset is
    ds[filter comp <> value]
end operator;

DS_r:= inner_join (DS_1, filter_udo(DS_1,Me_1, 4) [rename Me_1 to Me_11] as d1);