define operator dqi_vl (a dataset, b dataset, c dataset)
  returns dataset is
    inner_join (
        a,
        b,
        c 
        calc dqi_vl := 
            Me_1a / Me_1b
        keep dqi_vl, Me_1c, Me_1d
    )
end operator;

DQI_IG0010:=
    dqi_vl(DS_1[sub Id_2 = "IG0010"], DS_1[keep Me_1c][rename Me_1c to Me_1d], DS_2);